# Place deployment config in refeed/config/config.yaml
accounts:
  account-name: # this should be unique
    server:
      host: mail.example.com # Required. 
      port: 993
      use_uid: False
      ssl: True
      stream: False 
      ssl_context: None
      timeout: 300 
    auth:
      auth_type: 'login' # Supported: oauth, login, plain_login
      user: 'user@example.com'
      password: '*******'

rules: 
  account-name: # must match to an account defined above!
    folder: 'INBOX'
    # regex patterns to match against header fields
    # See https://github.com/SpamScope/mail-parser#description for full list of valid values
    filters:
      date: 'python regex here'
      from_: 'python regex hgere'

